PORT=4000
NODE_ENV=development
DATABASE_URL=postgresql://speto:speto@localhost:55432/speto
REDIS_URL=redis://localhost:6380
JWT_ACCESS_SECRET=replace-me
JWT_REFRESH_SECRET=replace-me-too
STORAGE_BUCKET=speto-assets
PAYMENT_PROVIDER=iyzico
PAYMENT_PROVIDER_BASE_URL=https://sandbox-api.iyzipay.com
